.ui.card,.ui.cards>.card:hover{
  background-color: white;
  background: grey; 
  /* box-shadow: 0 1px 3px 0 #1db954, 0 0 0 1px #1db954; */
  /* box-shadow:7 1px 3px 0 #1db954, 0 0 0 1px #1db954; */
}

.ui.card,.ui.cards>.card{
  align-items: center;
  background-color: #282c34;
  color: white;
  background: #282c34;
  box-shadow: 0 1px 3px 0 #1db954, 0 0 0 1px #1db954;
  /* box-shadow:7 1px 3px 0 #1db954, 0 0 0 1px #1db954; */
}
.ui.horizontal.bulleted.list{
  background-color: #1db954
}
.ui.buttons .button{
  flex: 1 1 auto
}

.ui.grid{
  padding:17px
}

.ui.button{
  background:#1db954
}
.ui.card>:first-child, .ui.cards>.card>:first-child{
margin-top: .75em;
}

.ui.card>.image, .ui.cards>.card>.image.circular--square {
  width: 220px;
  height: 220px;
  border-top-left-radius: 50% 50% !important;
  border-top-right-radius: 50% 50% !important;
  border-bottom-right-radius: 50% 50% !important;
  border-bottom-left-radius: 50% 50% !important;
}

.ui.card>.content>.header,.ui.cards>.card>.content>.header{
      color: #1db954;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1db954;
  color: #1db954;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}
